@model DAL.Usuarios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dni_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dni_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tlf_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tlf_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clave_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clave_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accesos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accesos.id_acceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estaBloqueado_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estaBloqueado_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fch_fin_bloqueo_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fch_fin_bloqueo_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fch_alta_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fch_alta_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fch_baja_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fch_baja_usuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_usuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
